Resources:
   WordCount:
     Type: AWS::DynamoDB::Table
     Properties:
       KeySchema:
         HashKeyElement:
           AttributeName: "word"
           AttributeType: "S"
       ProvisionedThroughput:
         ReadCapacityUnits: 10
         WriteCapacityUnits: 10
files:
  "/var/app/app.config":
    mode: "000444"
    owner: "apache"
    group: "apache"
    content: |
      AWS_REGION = '`{ "Ref" : "AWS::Region"}`'
      WORD_COUNT = '`{ "Ref" : "WordCount"}`'
option_settings:
  "aws:elasticbeanstalk:customoption":
     "AlarmEmail" : "rahulk@ccs.neu.com"
  "aws:elasticbeanstalk:application:environment":
    "APP_CONFIG": "/var/app/app.config"
    "FLASK_DEBUG": "true"